* {
  box-sizing: border-box;
}

body {
  background-color: #0A0A0A;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 65px;
  gap: 10px;
}
nav ul li {
  list-style: none;
  text-align: end;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px;
  align-self: center;
  text-align: center;
  width: 100%;
  gap: 15px;
  margin: 0;
}
nav ul li a:hover {
  color: #03C5E4;
  background-color: #333333;
  border-radius: 10px;
}

.tareas {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
.tareas article {
  padding: 60px 40px;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 15px;
  color: #707070;
  width: 100%;
  text-align: center;
}

.agenda, .manana {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 15px;
}
.agenda h3, .manana h3 {
  padding-bottom: 15px;
}

.agenda-item, .manana-item {
  display: block;
  background-color: #333333;
  gap: 10px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #333333;
  border-radius: 10px;
}
.agenda-item:hover, .manana-item:hover {
  color: #03C5E4;
  border: 1px solid #03C5E4;
  cursor: pointer;
}
.agenda-item:active, .manana-item:active {
  transform: scale(0.98);
  color: #03C5E4;
  border: 1px solid #03C5E4;
}

.inicio-clientes {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
}
.inicio-clientes h2 {
  color: #FFFFFF;
}
.inicio-clientes h2 span {
  color: #03C5E4;
}
.inicio-clientes button {
  background-color: linear-gradient(to right, #00c6ff, #7f00ff);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
}
.inicio-clientes button:hover {
  cursor: pointer;
}

.panel-clientes {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 15px;
  align-content: center;
}
.panel-clientes article {
  padding: 60px 40px;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 15px;
  color: #707070;
  width: 100%;
  text-align: center;
}

.buscar-clientes {
  margin: 15px;
}
.buscar-clientes input {
  width: 100%;
  display: inline;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.datos-clientes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 15px 5px;
  margin-bottom: 15px;
}
.datos-clientes li {
  padding-bottom: 15px;
  list-style: none;
}
.datos-clientes li a {
  text-decoration: none;
  color: #FFFFFF;
}

.cliente {
  display: block;
  background-color: #333333;
  gap: 10px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #333333;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */