@use '../base/variables' as *;

body {
    margin: $spacing-m;
}

nav ul {
    padding: 0;
    margin-right: 0;
}

.tareas {
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: $spacing-m;

    article {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: $spacing-m;
        padding: 1.5rem 1.5rem;
        border: $border-card;
        border-radius: 20px;
        color: $color-tareas;
        width: 100%;
        text-align: center;
        font-size: $spacing-xl;
        align-self: center;
        align-items: center;

        &:hover {
            border: $border-active;
            transform: translateY(-$spacing-xs);
            box-shadow: 0px 4px 4px $color-hover;
        }

        .card-icon {
            display: inline-flex;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            border-radius: $radius-main;

            &.total {
                color: $color-total;
                background-color: $color-bg-total;
                border: $border-total;
                padding: $spacing-s;
            }

            &.sesiones {
                color: $color-activo;
                background-color: $color-bg-activo;
                border: $border-activo;
                padding: $spacing-s;
            }

            &.revisiones {
                color: $color-revisiones;
                background-color: $color-bg-revisiones;
                border: $border-revisiones;
                padding: $spacing-s;
            }

            &.entrevistas {
                color: $color-entrevistas;
                background-color: $color-bg-entrevistas;
                border: $border-entrevistas;
                padding: $spacing-s;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            gap: $spacing-m;

            .card-title {
                font-size: 1.3rem;
                color: $color-tareas;
            }

            .card-number {
                font-size: 1.7rem;
                color: $color-text;
                text-shadow: 0px 0px 12px $color-text;
                text-align: left;
            }
        }
    }
}



.agenda, .manana {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    border: $border-card;
    border-radius: $radius-main;
    padding: $spacing-l $spacing-m;
    margin-bottom: $spacing-m;

    h3 {
        padding-bottom: $spacing-m;
    }
}


.agenda-item, .manana-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $color-bg-main;
    gap: $spacing-l;
    margin-bottom: $spacing-m;
    padding: $spacing-m;
    border: $border-card;
    border-radius: $radius-main;
    align-items: center;

    .agenda-icon-sesion, .manana-icon-sesion {
        color: $color-activo;
        background-color: $color-bg-activo;
        border: $border-activo;
        padding: $spacing-xs;
        border-radius: $radius-main;
    }

    .agenda-icon-revision, .manana-icon-revision {
        color: $color-revisiones;
        background-color: $color-bg-revisiones;
        border: $border-revisiones;
        padding: $spacing-xs;
        border-radius: $radius-main;
    }

    .agenda-icon-entrevista, .manana-icon-entrevista {
        color: $color-entrevistas;
        background-color: $color-bg-entrevistas;
        border: $border-entrevistas;
        padding: $spacing-xs;
        border-radius: $radius-main;
    }

    &:hover {
        color: $color-hover;
        border: $border-active;
        cursor: pointer;
        transform: translateY(-$spacing-xs);
    }

    &:active {
        transform: $scale-active;
        color: $color-hover;
        border: $border-active;
    }
}


.inicio-clientes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $spacing-xl;

    h2 {
        color: $color-text;
        margin-left: $spacing-xs;

        span {
            color: $color-hover;
        }
    }

    button {
        background: $color-gradient;
        color: $color-text;
        border-radius: $radius-main;
        margin-right: $spacing-l;
        height: 40px;
        margin-top: $spacing-l;
        display: flex;
        text-align: center;
        align-items: center;
        gap: $spacing-xs;

        &:hover {
            cursor: pointer;
            transform: translateY(-$spacing-xs);
            box-shadow: 0px 3px 3px $color-gradient;
        }
    }
}

.panel-clientes {
    padding-top: $spacing-l;
    padding-bottom: $spacing-xs;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: $spacing-m;

    article {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: $spacing-m;
        padding: 1.5rem 1.5rem;
        border: $border-card;
        border-radius: 20px;
        color: $color-tareas;
        width: 100%;
        text-align: center;
        font-size: $spacing-xl;
        align-self: center;
        align-items: center;

        &:hover {
            border: $border-active;
            transform: translateY(-$spacing-xs);
            box-shadow: 0px 4px 4px $color-hover;
        }

        .card-icon {
            display: inline-flex;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            border-radius: $radius-main;

            &.total {
                color: $color-total;
                background-color: $color-bg-total;
                border: $border-total;
                padding: $spacing-s;
            }

            &.activo {
                color: $color-activo;
                background-color: $color-bg-activo;
                border: $border-activo;
                padding: $spacing-s;
            }

            &.inactivo {
                color: $color-inactivo;
                background-color: $color-bg-inactivo;
                border: $border-inactivo;
                padding: $spacing-s;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            gap: $spacing-m;

            .card-title {
                font-size: 1.3rem;
                color: $color-tareas;
            }

            .card-number {
                font-size: 1.7rem;
                color: $color-text;
                text-shadow: 0px 0px 12px $color-text;
                text-align: left;
            }
        }
    }
}



.buscar-clientes {
    margin-bottom: $spacing-xl;
    margin-top: $spacing-m;
    margin-left: 0;
    margin-right: 0;

    input {
        width: 100%;
        display: inline;
        background: $color-bg-card;
        border-radius: $radius-main;
        border: $border-card;
        padding: 0.3rem;
    }
}


.datos-clientes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding-left: 0;

    ul {
        padding-left: 0;
        margin-top: $spacing-xl;

        li {
        width: 100%;
        list-style: none;
        padding-bottom: $spacing-s;
        
        a{
            text-decoration: none;
            width: 100%;
            color: $color-text;
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 0.6fr;
            background-color: $color-bg-main;
            padding: $spacing-xl;
            border: $border-card;
            border-radius: $radius-main;

            &:hover {
                border: $border-active;
                transform: translateY(-$spacing-xs);

                .nombre {
                    color: $color-hover;
                }
            }

            div.menu-cliente {
                span {
                    margin-right: $spacing-xs;
                }
            }

            span {
                display: inline-flex;
                width: fit-content;
                padding: $spacing-s;

                &.activo {
                    color: $color-activo;
                    border-radius: $radius-main;
                    border: $border-activo;
                    background-color: $color-bg-activo;
                }

                &.inactivo {
                    color: $color-inactivo;
                    border-radius: $radius-main;
                    border: $border-inactivo;
                    background-color: $color-bg-inactivo;
                }

                &.objetivo {
                    background-color: $color-bg-card;
                    border: $border-card;
                    border-radius: $radius-main;
                    margin-left: $spacing-s;
                }

                &.ver-cliente {
                    color: $color-hover;
                    border-radius: $radius-main;
                    border: $border-card;
                    background-color: $color-bg-main;

                    &:hover {
                        color: $color-text;
                        border: $border-active;
                        box-shadow: 0px 4px 4px $color-hover;
                    }
                }

                &.editar-cliente {
                    color: $color-entrevistas;
                    border-radius: $radius-main;
                    border: $border-card;
                    background-color: $color-bg-main;

                    &:hover {
                        color: $color-text;
                        border: $border-active;
                        box-shadow: 0px 4px 4px $color-hover;
                    }
                }

                &.mensaje-cliente {
                    color: $color-activo;
                    border-radius: $radius-main;
                    border: $border-card;
                    background-color: $color-bg-main;

                    &:hover {
                        color: $color-text;
                        border: $border-active;
                        box-shadow: 0px 4px 4px $color-hover;
                    }
                }

                &.eliminar-cliente {
                    color: $color-inactivo;
                    border-radius: $radius-main;
                    border: $border-card;
                    background-color: $color-bg-main;

                    &:hover {
                        color: $color-text;
                        border: $border-active;
                        box-shadow: 0px 4px 4px $color-hover;
                    }
                }
            }
        }
    }
    }
}
