$color-bg-main: #0A0A0A;
$color-bg-card: #333333;
$color-hover: #03C5E4;
$color-text: #FFFFFF;
$color-border: #333333;
$color-tareas: #707070;
$color-gradient: linear-gradient(to right, #00c6ff 20%, #7f00ff 92%);
$color-bg-activo: rgba(46, 213, 115, 0.15);
$color-activo: #2ed573;
$color-bg-inactivo: rgba(255, 71, 87, 0.15);
$color-inactivo: #ff4757;
$color-total: #00d2ff;
$color-bg-total: rgba(0, 210, 255, 0.15);


$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 25px;


$radius-main: 10px;
$radius-searchbar: 5px;
$border-card: 1px solid $color-border;
$border-active: 1px solid $color-hover;
$border-activo: 1px solid rgba(46, 213, 115, 0.3);
$border-inactivo: 1px solid rgba(255, 71, 87, 0.3);
$border-total: 1px solid rgba(0, 210, 255, 0.3);


$scale-active: scale(0.98);